@forward "global";
@forward "util";

@font-face {
  font-family: animeace2;
  src: url(/animeace2_reg.otf);
  // src: url(../../public/animeace2_bld.otf);
}

body {
  // background-color: #e4e5ea;
  // background-color: #f1f2f5;
  // background-color: #333;
  // background-color: #312e33;
  // background-color: rgb(14, 14, 14);

  // color: #333333;
  background-color: rgb(255 255 251);
  font-family: animeace2;
}

h1 {
  color: rgb(252, 252, 252);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 16px;
}
