@forward "global";
@forward "util";
@import url(https://db.onlinewebfonts.com/c/ea45e9ad2fb797a7a410d2884e606a43?family=AnimeAce2.0BB);
@font-face {
  font-family: "AnimeAce2.0BB";
  src: url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.eot");
  src: url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ea45e9ad2fb797a7a410d2884e606a43.svg#AnimeAce2.0BB")
      format("svg");
}

body {
  // background-color: #e4e5ea;
  background-color: #f1f2f5;
  font-family: "AnimeAce2.0BB";
}

h1 {
  color: rgb(252, 252, 252);
}

// svg {
//   cursor: zoom-in !important;
// }

.app {
  display: flex;
  flex-direction: column;
  // height: 100vh;
}

.content {
  padding: 16px;
}

.sticky + .main {
  padding-top: 60px;
  transition: all 1s;
}
